<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Exercise</title>
  </head>
  <body>
    <form action="/api/exercise/add" method="post">
      <h3>Add exercises</h3>
      <input
        id="exerciseName"
        type="text"
        name="exerciseName"
        placeholder="exercise name"
      />
      <input
        id="desc"
        type="text"
        name="description"
        placeholder="description*"
      />
      <input
        id="dur"
        type="text"
        name="duration"
        placeholder="duration* (mins.)"
      />
      <input id="dat" type="text" name="date" placeholder="date (yyyy-mm-dd)" />
      <input id="category" type="text" name="category" placeholder="category" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
