<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <script
      src="https://kit.fontawesome.com/ff7e7905e6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div>
      <h3>Exercise Tracker App</h3>
      <div>
        <input type="text" placeholder="Search Exercise" />
        <div>
          <div>
            <i class="fa-regular fa-user"></i>
            <p>Kevin</p>
          </div>
        </div>
      </div>
      <table>
        <tr>
          <th>Exercise</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Bench Press</td>
          <td>08/05/2023</td>
        </tr>
        <tr>
          <td>Bicep Curl</td>
          <td>08/06/2023</td>
        </tr>
        <tr>
          <td>Leg Press</td>
          <td>08/07/2023</td>
        </tr>
      </table>
      <button>Add Exercise</button>
    </div>
  </body>
</html>
